<!DOCTYPE html>
<html>
<head>
    <title>Reset your password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
        }

        .form-list {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: left;
        }

        .form-list li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Reset your password</h1>

        {% if validlink %}
            <p class="mb-4">Please enter your password twice:</p>
            <form action="" method="post">
                <ul class="form-list" style="margin-left: 23rem;">
                    {{ form.as_p }}
                </ul>
                {% csrf_token %}
                <p><input type="submit" class="btn btn-primary" value="Change my password"></p>
            </form>
        {% else %}
            <p class="mb-4">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
</body>
</html>



<!-- <h1>Reset your password</h1>
{% if validlink %}
<p>Please enter your password twice:</p>
<form action="" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Change my password"></p>
</form>
{% else %}
<p>The password reset link was invalid, possibly because it has already been used. Please request a new passoword reset.</p>
{% endif %} -->