<!DOCTYPE html>
<html>
<head>
    <title>Password Set</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <h1 class="mt-5">Password Set</h1>
        <p>Your password has been set. You may go ahead and log in now. <a href="{% url 'user_login' %}" class="btn btn-primary">Log In</a></p>
    </div>
</body>
</html>
