<!DOCTYPE html>
<html>
<head>
    <title>Reset your password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container" style="margin-bottom: 7rem;">
        <h1 class="mt-5">Reset your password</h1>
        <p class="mb-4">We have emailed you instructions for setting your password</p>
        <p class="mb-4">If you don't receive an email, please make sure you have entered the address you registered with.</p>
    </div>
</body>
</html>
